appdirs==1.4.4
gunicorn
arabic-reshaper==3.0.0
argcomplete==3.6.3
asgiref==3.11.1
asn1crypto==1.5.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
cryptography==46.0.6
cssselect2==0.9.0
diff-match-patch==20241021
distlib==0.3.4
Django==5.2.12
django-import-export==4.4.0
freetype-py==2.5.1
greenlet==3.3.2
html5lib==1.1
idna==3.11
importlib_resources==6.5.2
lxml==6.0.2
msgpack==1.1.2
oscrypto==1.3.0
packaging==26.0
Pillow==9.0.0
platformdirs==2.5.1
psycopg2-binary==2.9.3
pycairo==1.29.0
pycparser==3.0
pyHanko==0.34.1
pyhanko-certvalidator==0.30.2
pynvim==0.6.0
pypdf==6.9.2
PyPDF2==1.26.0
python-barcode==0.16.1
python-bidi==0.6.7
python-escpos==3.1
pytz==2021.3
PyYAML==6.0
qrcode==8.2
reportlab==4.4.10
requests==2.33.1
rlPyCairo==0.4.0
six==1.16.0
sqlparse==0.4.2
svglib==1.6.0
tablib==3.9.0
tinycss2==1.5.1
typing_extensions==4.15.0
tzlocal==5.3.1
uritools==6.0.1
urllib3==2.6.3
webencodings==0.5.1
xhtml2pdf==0.2.17
xlrd==2.0.1
xlwt==1.3.0
python-dotenv
whitenoise==6.7.0
