{%extends 'ramdom_product.html'%}

{% block content %}


<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Inventory Tool</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Product name</label>
                    <input type="email" class="form-control" id="name" placeholder="Enter email">
                  </div>
                   <div class="form-group">
                    <label for="exampleInputPassword1">ID</label>
                    <input type="text" class="form-control" id="id" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Barcode</label>
                    <input type="text" class="form-control" id="barcode" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Costo</label>
                    <input type="text" class="form-control" id="costo" placeholder="Password">
                  </div>
		     <div class="form-group">
                    <label for="exampleInputPassword1">System_Stock</label>
                    <input type="text" class="form-control" id="stock" placeholder="Password">
                  </div>
		     <div class="form-group">
                    <label for="exampleInputPassword1">Count_Stock</label>
                    <input type="text" class="form-control" id="count" plaeholder="Password">
                  </div>

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" id="new">Get_New</button>
                  <button type="submit" class="btn btn-primary" id="save">Update Stock</button>
		  <label for="exampleInputPassword1" id="counter">0</label>
                </div>
              </form>
            </div>
            <!-- /.card -->


{% endblock %}

 

